# Week 09: Exercise 1

## Database

- JHU data on covid cases/death in US Counties
- Daily update in September 2020
- Database is normalized
  - tables for county and state
- Other tables exist
  - `demography` 
  - `election_2016`

In [1]:
!wget https://www.dropbox.com/s/wkhjoah228gmhtl/covid.sqlite?dl=1 -O covid.sqlite

--2020-12-02 21:58:05--  https://www.dropbox.com/s/wkhjoah228gmhtl/covid.sqlite?dl=1
Resolving www.dropbox.com (www.dropbox.com)... 162.125.3.1, 2620:100:6018:1::a27d:301
Connecting to www.dropbox.com (www.dropbox.com)|162.125.3.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/dl/wkhjoah228gmhtl/covid.sqlite [following]
--2020-12-02 21:58:05--  https://www.dropbox.com/s/dl/wkhjoah228gmhtl/covid.sqlite
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucecc266e1a929634511d5fc6e66.dl.dropboxusercontent.com/cd/0/get/BEXBu8vpM0FR0Zs3EHwzasv5MJIq6Duey8ZQSfbHlDyC0K-sNV4x6HqtJQgy2SiABCz2Z3RUpPLj3CvcfxNF8zMJg1MtDNRlNXJK_Mvm1XuA3XFjFwhe-dfwCBBYwQzUq0A/file?dl=1# [following]
--2020-12-02 21:58:06--  https://ucecc266e1a929634511d5fc6e66.dl.dropboxusercontent.com/cd/0/get/BEXBu8vpM0FR0Zs3EHwzasv5MJIq6Duey8ZQSfbHlDyC0K-sNV4x6HqtJQgy2SiABCz2Z3RUpPLj3CvcfxNF8zMJg1MtDNRlNXJK_Mvm1XuA3XFjFwhe-dfwCBBYwQzUq0A/file?dl=1
Resolving ucecc266e1a929634511d5fc6e66.dl.dropboxusercontent.com (ucecc266e1a929634511d5fc6e66.dl.dropboxusercontent.com)... 162.125.3.15, 2620:100:6018:15::a27d:30f
Connecting to ucecc266e1a929634511d5fc6e66.dl.dropboxusercontent.com (ucecc266e1a929634511d5fc6e66.dl.dropboxusercontent.com)|162.125.3.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4931584 (4.7M) [application/binary]
Saving to: ‘covid.sqlite’

covid.sqlite        100%[===================>]   4.70M  --.-KB/s    in 0.1s

2020-12-02 21:58:06 (42.8 MB/s) - ‘covid.sqlite’ saved [4931584/4931584]

## Import packages

In [2]:
import pandas as pd
import sqlite3

## Create a connection object

In [3]:
con_cov = sqlite3.connect('covid.sqlite')

## Check tables

In [4]:
df_dbinfo = pd.read_sql_query("SELECT * FROM sqlite_master WHERE type='table'", con_cov)

In [5]:
df_dbinfo

    type  ...                                                sql
0  table  ...  CREATE TABLE "covid" (\n"fips" INTEGER,\n  "da...
1  table  ...  CREATE TABLE "county" (\n"fips" INTEGER,\n  "c...
2  table  ...  CREATE TABLE "state" (\n"state_code" TEXT,\n  ...
3  table  ...  CREATE TABLE "demography" (\n"fips" INTEGER,\n...
4  table  ...  CREATE TABLE "election_2016" (\n"fips" INTEGER...

[5 rows x 5 columns]

In [6]:
df_dbinfo['sql'][0]

'CREATE TABLE "covid" (\n"fips" INTEGER,\n  "date" TEXT,\n  "cases" INTEGER,\n  "deaths" INTEGER\n)'

In [7]:
pd.read_sql_query("SELECT * FROM covid LIMIT 5", con_cov)

   fips        date  cases  deaths
0  1001  2020-09-01   1354      23
1  1001  2020-09-02   1345      23
2  1001  2020-09-03   1349      23
3  1001  2020-09-04   1355      23
4  1001  2020-09-05   1371      23

In [8]:
pd.read_sql_query("SELECT * FROM county LIMIT 5", con_cov)

   fips   county state_code
0  1001  Autauga         AL
1  1003  Baldwin         AL
2  1005  Barbour         AL
3  1007     Bibb         AL
4  1009   Blount         AL

In [9]:
pd.read_sql_query("SELECT * FROM state LIMIT 5", con_cov)

  state_code       state
0         AL     Alabama
1         AK      Alaska
2         AZ     Arizona
3         AR    Arkansas
4         CA  California

In [10]:
pd.read_sql_query("SELECT * FROM demography LIMIT 5", con_cov)

   fips  TotalPop    Men  ...  SelfEmployed  FamilyWork  Unemployment
0  1001     55036  26899  ...           5.6         0.1           5.2
1  1003    203360  99527  ...           6.3         0.1           5.5
2  1005     26201  13976  ...           6.5         0.3          12.4
3  1007     22580  12251  ...           6.3         0.3           8.2
4  1009     57667  28490  ...           4.0         0.1           4.9

[5 rows x 35 columns]

In [11]:
pd.read_sql_query("SELECT * FROM election_2016 LIMIT 5", con_cov)

    fips  pct_report     votes  total_votes       pct
0   6037      1.0000  542591.0    2314275.0  0.234454
1  17031      0.9746  440213.0    2055215.0  0.214193
2  48201      1.0000  544960.0    1302887.0  0.418271
3   4013      1.0000  590465.0    1201934.0  0.491262
4  12086      1.0000  333666.0     978670.0  0.340938

### Combine covid and county

In [12]:
pd.read_sql_query('''
SELECT a.*, b.county, b.state_code 
  FROM covid AS a 
  INNER JOIN county AS b 
  ON a.fips = b.fips
''', con_cov)

        fips        date  cases  deaths   county state_code
0       1001  2020-09-01   1354      23  Autauga         AL
1       1001  2020-09-02   1345      23  Autauga         AL
2       1001  2020-09-03   1349      23  Autauga         AL
3       1001  2020-09-04   1355      23  Autauga         AL
4       1001  2020-09-05   1371      23  Autauga         AL
...      ...         ...    ...     ...      ...        ...
97225  56045  2020-09-26     36       0   Weston         WY
97226  56045  2020-09-27     36       0   Weston         WY
97227  56045  2020-09-28     36       0   Weston         WY
97228  56045  2020-09-29     37       0   Weston         WY
97229  56045  2020-09-30     39       0   Weston         WY

[97230 rows x 6 columns]

### Combine covid, county, and state

In [13]:
pd.read_sql_query('''
SELECT a.*, b.county, b.state_code, c.state
  FROM covid AS a 
  INNER JOIN county AS b 
  ON a.fips = b.fips
  INNER JOIN state as c 
  ON b.state_code = c.state_code''', con_cov)

        fips        date  cases  deaths   county state_code    state
0       1001  2020-09-01   1354      23  Autauga         AL  Alabama
1       1001  2020-09-02   1345      23  Autauga         AL  Alabama
2       1001  2020-09-03   1349      23  Autauga         AL  Alabama
3       1001  2020-09-04   1355      23  Autauga         AL  Alabama
4       1001  2020-09-05   1371      23  Autauga         AL  Alabama
...      ...         ...    ...     ...      ...        ...      ...
97225  56045  2020-09-26     36       0   Weston         WY  Wyoming
97226  56045  2020-09-27     36       0   Weston         WY  Wyoming
97227  56045  2020-09-28     36       0   Weston         WY  Wyoming
97228  56045  2020-09-29     37       0   Weston         WY  Wyoming
97229  56045  2020-09-30     39       0   Weston         WY  Wyoming

[97230 rows x 7 columns]

# Replicate the work in Assignment 1 using SQL queries

In this exercise, you will do the same work you have done with SQL queries

## Mergeing with the demography data

### Check the contents of demography table


- Merge covid, county, state, and demography tables
  - select the data on 30 September
- Calculate the deaths/cases per 1000 population in the merged table
- Create a new pandas DataFrame from query
- Dump the content of DataFrame as a table (named `sep30_table` in this database) using `.to_sql`

In [14]:
df_sep30 = pd.read_sql_query('''
SELECT a.cases, a.deaths, a.date, b.county, b.state_code, c.state, d.*,
  (deaths + 0.0) / TotalPop * 1000 AS deaths_per_1000,
  (cases + 0.0) / TotalPop * 1000 AS cases_per_1000
  FROM covid AS a 
  INNER JOIN county AS b 
  ON a.fips = b.fips
  INNER JOIN state as c 
  ON b.state_code = c.state_code
  INNER JOIN demography as d
  ON a.fips = d.fips
  WHERE date = '2020-09-30'
  ''', con_cov)
df_sep30 = df_sep30.loc[:, ~df_sep30.columns.duplicated()]

In [ ]:
df_sep30.to_sql('sep30_table', con_cov, if_exists='replace')

In [15]:
df_sep30.to_csv("sep30_table.csv")

In [ ]:
pd.read_sql_query("SELECT * FROM sqlite_master WHERE type='table'", con_cov)

    type  ...                                                sql
0  table  ...  CREATE TABLE "covid" (\n"fips" INTEGER,\n  "da...
1  table  ...  CREATE TABLE "county" (\n"fips" INTEGER,\n  "c...
2  table  ...  CREATE TABLE "state" (\n"state_code" TEXT,\n  ...
3  table  ...  CREATE TABLE "demography" (\n"fips" INTEGER,\n...
4  table  ...  CREATE TABLE "election_2016" (\n"fips" INTEGER...
5  table  ...  CREATE TABLE "sep30_table" (\n"index" INTEGER,...

[6 rows x 5 columns]


- Find the maximum of highest deaths/cases per 1000 population and their county names

In [ ]:
#pd.read_sql_query("SELECT MAX(deaths_per_1000) FROM sep30_table", con_cov)
#pd.read_sql_query("SELECT * FROM sep30_table WHERE deaths_per_1000 > 4.84", con_cov)
pd.read_sql_query("SELECT * FROM sep30_table ORDER BY deaths_per_1000 DESC LIMIT 1", con_cov)

   index  cases  deaths  ... Unemployment deaths_per_1000 cases_per_1000
0    455    394      42  ...          4.0        4.845967       45.45979

[1 rows x 44 columns]

- Aggregate the data in `sep30_table` at the state level and find the following
  - Calculate the number of total cases/deaths per 1000 population
  - Which state had the highest cases/deaths, how many cases/deaths?

In [ ]:
pd.read_sql_query('''
SELECT state_code, state, 
  SUM(deaths) AS total_death,
  SUM(cases) AS total_cases,
  (SUM(cases) + 0.0)/SUM(TotalPop) AS  cases_per_1000  
  FROM sep30_table 
  GROUP BY state
  ORDER BY total_death DESC
  ''', con_cov)

   state_code           state  total_death  total_cases  cases_per_1000
0          NY        New York        33129       458649        0.023166
1          NJ      New Jersey        16122       204946        0.022873
2          TX           Texas        16016       773019        0.028192
3          CA      California        15885       819115        0.021012
4          FL         Florida        14317       704786        0.034755
5          MA   Massachusetts         9450       129282        0.019042
6          IL        Illinois         8672       293155        0.022806
7          PA    Pennsylvania         8130       164099        0.012830
8          MI        Michigan         7003       132010        0.013300
9          GA         Georgia         6854       299279        0.029336
10         AZ         Arizona         5649       218507        0.032086
11         LA       Louisiana         5321       165839        0.035561
12         OH            Ohio         4804       153987        0.013264
13         CT     Connecticut         4508        57399        0.015969
14         MD        Maryland         3939       124725        0.020801
15         NC  North Carolina         3532       210632        0.020953
16         IN         Indiana         3405       120019        0.018145
17         SC  South Carolina         3378       147942        0.030233
18         VA        Virginia         3205       148092        0.017702
19         MS     Mississippi         2969        98190        0.032881
20         AL         Alabama         2540       154701        0.031892
21         TN       Tennessee         2423       190117        0.028817
22         WA      Washington         2122        87220        0.012165
23         CO        Colorado         2051        70515        0.012971
24         MN       Minnesota         2036        98980        0.018027
25         MO        Missouri         1944       115439        0.019001
26         NV          Nevada         1600        79980        0.027697
27         AR        Arkansas         1369        81786        0.027464
28         IA            Iowa         1358        89243        0.028621
29         WI       Wisconsin         1327       122274        0.021216
30         KY        Kentucky         1174        68840        0.015559
31         RI    Rhode Island         1102        22693        0.021487
32         OK        Oklahoma         1031        87170        0.022373
33         NM      New Mexico          877        28056        0.013457
34         KS          Kansas          669        59040        0.020332
35         DE        Delaware          636        20122        0.021322
36         OR          Oregon          559        33509        0.008325
37         NE        Nebraska          478        45274        0.023905
38         ID           Idaho          469        42047        0.025370
39         NH   New Hampshire          439         8263        0.006204
40         UT            Utah          377        59778        0.019966
41         WV   West Virginia          355        15850        0.008629
42         ND    North Dakota          246        21846        0.029305
43         SD    South Dakota          223        22389        0.026172
44         MT         Montana          180        13071        0.012692
45         ME           Maine          141         5389        0.004051
46         HI          Hawaii          135        12377        0.008706
47         VT         Vermont           58         1744        0.002792
48         AK          Alaska           56         7805        0.010568
49         WY         Wyoming           50         5948        0.010199

In [ ]:
df_sep30 = pd.read_sql_query('''
SELECT a.*, b.county, b.state_code, c.state, d.*
  FROM covid AS a 
  INNER JOIN county AS b 
  ON a.fips = b.fips
  INNER JOIN state as c 
  ON b.state_code = c.state_code
  INNER JOIN demography as d
  ON a.fips = d.fips
''', con_cov)

## Merge the presidential election data and explore the relations

### Check the contents of election_2016 table

In this table, pct is the Trump vote percentage

- Check the table content

In [ ]:
pd.read_sql_query('SELECT * FROM election_2016 LIMIT 5', con_cov)

    fips  pct_report     votes  total_votes       pct
0   6037      1.0000  542591.0    2314275.0  0.234454
1  17031      0.9746  440213.0    2055215.0  0.214193
2  48201      1.0000  544960.0    1302887.0  0.418271
3   4013      1.0000  590465.0    1201934.0  0.491262
4  12086      1.0000  333666.0     978670.0  0.340938


- Merge the presidential election results with `sep30_table`
- Explore the relations between Trump vote percentage and Covid-19 variables.

In [ ]:
pd.read_sql_query('''
SELECT s.*, e.pct AS trump_pct
  FROM sep30_table as s
  INNER JOIN election_2016 as e
  ON s.fips = e.fips
''', con_cov).loc[:,['trump_pct', 'White', 'Black', 'Hispanic', 'Income', 'deaths_per_1000', 'cases_per_1000']].corr()

                 trump_pct     White  ...  deaths_per_1000  cases_per_1000
trump_pct         1.000000  0.536371  ...        -0.233941       -0.135388
White             0.536371  1.000000  ...        -0.493458       -0.487733
Black            -0.414841 -0.615368  ...         0.498772        0.453900
Hispanic         -0.185579 -0.615138  ...         0.180962        0.205183
Income           -0.185218  0.132601  ...        -0.153246       -0.184259
deaths_per_1000  -0.233941 -0.493458  ...         1.000000        0.562802
cases_per_1000   -0.135388 -0.487733  ...         0.562802        1.000000

[7 rows x 7 columns]